html {
  background: $bgColor;
  color: white;
  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
  z-index: 3;
}

* {
  box-sizing: border-box;
}
body {
  position: relative;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
  border-radius: 10px;
}
